
.DS_Store
iOS App/.DS_Store
iOS App/Podfile.lock
iOS App/Pods/*
*.xcuserstate
*.lock
*.xcbkptlist
iOS App/Beerer.xcodeproj/project.pbxproj
iOS App/Beerer.xcworkspace/contents.xcworkspacedata
iOS App/Beerer.xcworkspace/xcuserdata/lrazovic.xcuserdatad/UserInterfaceState.xcuserstate
iOS App/Beerer.xcworkspace/xcuserdata/lrazovic.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
