<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>SVQO1rcK09cEx3Kn5MUf3TKOM2XvKhkT</string>
	<key>Domain</key>
	<string>beerer.eu.auth0.com</string>
</dict>
</plist>
