<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>918312103756-cj3je9dh257o2cmqk53sndqqh32aa3ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918312103756-cj3je9dh257o2cmqk53sndqqh32aa3ri</string>
	<key>API_KEY</key>
	<string>AIzaSyDJD5PjE6BXg2LsDLXyDu0qvfJiLI-0scE</string>
	<key>GCM_SENDER_ID</key>
	<string>918312103756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LR.Beerer</string>
	<key>PROJECT_ID</key>
	<string>beerer-c3c7d</string>
	<key>STORAGE_BUCKET</key>
	<string>beerer-c3c7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918312103756:ios:e84e1a899e2aab99</string>
	<key>DATABASE_URL</key>
	<string>https://beerer-c3c7d.firebaseio.com</string>
</dict>
</plist>